.animated-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.cpu-svg {
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0) saturate(100%) invert(98%) sepia(11%) saturate(367%) hue-rotate(169deg) brightness(99%) contrast(93%);
  width: 100%;
  height: 100px;
}
.body-bg{
    background-color: #2f3e46;
    
}
.cpu-process{
    color: azure;
}
/* .cpu, .ready-queue{
    width: 50%;
}
.cpu{
    background-color: #f1f1f1;

}
.ready-queue{
    overflow: auto;
    display: flex;
    flex-direction: row-reverse;
    background-color: #545454;
} */